body {
    background-color: black;
}

@keyframes titleappear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes subtitleappear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.topScreenDiv {
    z-index:1;
    background-color: #222222;
}

#bgCanvas {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100vh;
    width: 100vw;
    z-index:-1;
    background-color: #222222;
    filter: blur(3px);
}

.title {
    opacity: 1;
    color: white;
    top:50%;
    animation: titleappear ease-in 2s;
}
.subtitle {
    opacity: 1;
    color: white;
    animation: 2s linear 0.5s titleappear;
}